@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<div class="container">
    <div class="content-page">
        @Model.Content.GetGridHtml("grid")
    </div>
</div>
