@inherits UmbracoTemplatePage<FrontPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<div class="front-page">
    <div class="container">
        <div class="slider">
            <div class="row">
                <div class="col-12">
                    <div class="slider-image">
                        <img src="@Model.Content.Image.GetCropUrl("forside")" />
                        <h1 class="slider-text">@Model.Content.ImageText</h1>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="icon-text-box">
            <div class="row">
                @foreach(var box in Model.Content.FrontBoxes)
                {
                    @Html.Partial("~/Views/Partials/ContentElements/" + box.DocumentTypeAlias + ".cshtml", box)
                }
            </div>
        </div>
    </div>
</div>
