@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.FrontPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

    <div class="container">
        <h1>Forside</h1>
    </div>