@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="footer">
    <div class="container">
        <h2>Footer indhold</h2>
    </div>
    
    <div class="footer-trees">
        @*<img src="~/dist/images/svg/trees.svg" />*@
    </div>
</div>