@inherits UmbracoViewPage
@using SmaafortaellingerV7.Infrastructure.Helpers

@{
    Layout = null;
    var settings = SiteHelpers.Settings as Settings;
}
<div class="header-wrapper">
    <div class="header-clouds"></div>
    <div class="container">
        <header class="header">
            @*@if (settings != null && settings.Logo != null)
            {
                <div class="logo-wrapper">
                    <a href="/" title="Gå til forsiden">
                        <img src="@settings.Logo.Url" alt="Logo" class="logo" />
                    </a>
                </div>
            }*@
            @Html.Partial("Navigation/MainNavigation")
        </header>

    </div>
</div>