<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT frontPage ANY>
<!ATTLIST frontPage id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT settings ANY>
<!ATTLIST settings id ID #REQUIRED>
<!ELEMENT navigation ANY>
<!ATTLIST navigation id ID #REQUIRED>
]>
<root id="-1">
  <frontPage id="1066" key="e8da0388-4fce-448f-8b89-595222525efd" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-06-27T15:54:24" updateDate="2019-07-06T18:53:15" nodeName="Forside" urlName="forside" path="-1,1066" isDoc="" nodeType="1062" creatorName="Johan" writerName="Johan" writerID="0" template="1061" nodeTypeAlias="frontPage" isPublished="true">
    <logo><![CDATA[umb://media/bffa7ae0273145eea6cd89b3e2875e65]]></logo>
    <contentPage id="1067" key="6fd9d301-2fc6-4a09-bc53-18463204caa7" parentID="1066" level="2" creatorID="0" sortOrder="0" createDate="2019-06-27T15:55:07" updateDate="2019-06-27T15:55:07" nodeName="Side" urlName="side" path="-1,1066,1067" isDoc="" nodeType="1064" creatorName="Johan" writerName="Johan" writerID="0" template="1063" nodeTypeAlias="contentPage" isPublished="true" />
    <contentPage id="1076" key="eb1e1162-2006-4478-b302-334de99a6764" parentID="1066" level="2" creatorID="0" sortOrder="1" createDate="2019-07-09T20:59:53" updateDate="2019-07-09T21:04:31" nodeName="Praktisk" urlName="praktisk" path="-1,1066,1076" isDoc="" nodeType="1064" creatorName="Johan" writerName="Johan" writerID="0" template="1063" nodeTypeAlias="contentPage" isPublished="true">
      <umbracoNavihide>0</umbracoNavihide>
      <grid><![CDATA[{
  "name": "2 column layout",
  "sections": [
    {
      "grid": 4,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Hej med dig",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "6131006b-e12e-d5c2-5037-5342e282c93c"
        },
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1072,
                    "udi": "umb://media/bffa7ae0273145eea6cd89b3e2875e65",
                    "image": "/media/1001/cropped-black-logo-no-background-1-1024x342.png"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "hasConfig": false,
          "id": "e659c24e-fad6-734f-c458-bf18967cfaee",
          "active": false
        }
      ]
    },
    {
      "grid": 8,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Dette er noget <strong>tekst</strong></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "3a4ee074-493c-e521-f7b4-d70b80582838"
        }
      ]
    }
  ]
}]]></grid>
    </contentPage>
    <settings id="1068" key="a77f6a13-deee-4681-87a0-1627a77b5841" parentID="1066" level="2" creatorID="0" sortOrder="2" createDate="2019-06-27T15:55:15" updateDate="2019-07-09T21:00:23" nodeName="Indstillinger" urlName="indstillinger" path="-1,1066,1068" isDoc="" nodeType="1065" creatorName="Johan" writerName="Johan" writerID="0" template="0" nodeTypeAlias="settings" isPublished="true">
      <umbracoNavihide>1</umbracoNavihide>
      <logo><![CDATA[umb://media/bffa7ae0273145eea6cd89b3e2875e65]]></logo>
      <siteName><![CDATA[Små fortællinger]]></siteName>
    </settings>
  </frontPage>
</root>