<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT frontPage ANY>
<!ATTLIST frontPage id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT settings ANY>
<!ATTLIST settings id ID #REQUIRED>
<!ELEMENT navigation ANY>
<!ATTLIST navigation id ID #REQUIRED>
<!ELEMENT ncFrontBox ANY>
<!ATTLIST ncFrontBox id ID #REQUIRED>
]>
<root id="-1">
  <frontPage id="1066" key="e8da0388-4fce-448f-8b89-595222525efd" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-06-27T15:54:24" updateDate="2019-07-16T22:32:38" nodeName="Forside" urlName="forside" path="-1,1066" isDoc="" nodeType="1062" creatorName="Johan" writerName="Johan" writerID="0" template="1061" nodeTypeAlias="frontPage" isPublished="true">
    <frontBoxes><![CDATA[[{"key":"984b9275-482a-44c8-b723-3a465258efa7","name":"Om mig","ncContentTypeAlias":"ncFrontBox","icon":"umb://media/0c1d232fdf584d6492d27fd50e0e5b8c","title":"Om mig","content":"<p>Hvem er jeg</p>","link":"umb://document/53d3c95945bc41bbb22842c2f59855ec"},{"key":"a498b009-57c2-4f36-96cc-f9347d03367e","name":"Leg og læring","ncContentTypeAlias":"ncFrontBox","icon":"umb://media/403e9edf6acd4695939c915e35d52173","title":"Leg og læring","content":"<p>Kom og lej med</p>","link":"umb://document/6fd9d3012fc64a09bc5318463204caa7"},{"key":"d38a152d-6326-4019-ae6b-bea344eaed98","name":"Kontakt mig","ncContentTypeAlias":"ncFrontBox","icon":"umb://media/58d00fdd3cdd42cabe866d45f21b9879","title":"Kontakt mig","content":"<p>Ring til mig</p>","link":"umb://document/8627b748357e4e7c9bbfb3e8941f4dde"}]]]></frontBoxes>
    <imageText><![CDATA[Her er dine børn i trygge hænder!]]></imageText>
    <image><![CDATA[umb://media/5249bd2b2593426d875c18d8b8c04368]]></image>
    <contentPage id="1127" key="53d3c959-45bc-41bb-b228-42c2f59855ec" parentID="1066" level="2" creatorID="0" sortOrder="0" createDate="2019-07-13T22:30:22" updateDate="2019-07-16T22:31:27" nodeName="Om mig" urlName="om-mig" path="-1,1066,1127" isDoc="" nodeType="1064" creatorName="Johan" writerName="Johan" writerID="0" template="1063" nodeTypeAlias="contentPage" isPublished="true">
      <umbracoNavihide>0</umbracoNavihide>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Fuld",
          "name": "Fuld",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Om mig",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": true
                }
              ],
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "ab7eab85-7d00-09df-9ea8-2a127b788bdc",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></grid>
    </contentPage>
    <contentPage id="1067" key="6fd9d301-2fc6-4a09-bc53-18463204caa7" parentID="1066" level="2" creatorID="0" sortOrder="1" createDate="2019-06-27T15:55:07" updateDate="2019-07-16T22:24:03" nodeName="Side" urlName="side" path="-1,1066,1067" isDoc="" nodeType="1064" creatorName="Johan" writerName="Johan" writerID="0" template="1063" nodeTypeAlias="contentPage" isPublished="true">
      <umbracoNavihide>0</umbracoNavihide>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Fuld",
          "name": "Fuld",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Overskrift",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ],
              "active": false
            }
          ],
          "hasConfig": false,
          "id": "c6f71e99-b31f-70a2-2017-b0b39e710286",
          "active": false
        },
        {
          "label": "4 + 8",
          "name": "4 + 8",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1084,
                    "udi": "umb://media/b94ed25479304ec39b6d676fd716e0ec",
                    "image": "/media/1007/img_9584.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>asdsadasdasdadas</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "4694b8a1-f34b-2d9d-2786-98179326d692"
        },
        {
          "label": "Fuld",
          "name": "Fuld",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "sadsadasdadas",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "1826fc49-f6a8-1cec-6cac-b41353de116d"
        }
      ]
    }
  ]
}]]></grid>
      <contentPage id="1140" key="ef6f1be8-545c-4ad0-b680-cdbe34ee46f4" parentID="1067" level="3" creatorID="0" sortOrder="0" createDate="2019-07-16T22:30:48" updateDate="2019-07-16T22:30:48" nodeName="Underside" urlName="underside" path="-1,1066,1067,1140" isDoc="" nodeType="1064" creatorName="Johan" writerName="Johan" writerID="0" template="1063" nodeTypeAlias="contentPage" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Fuld",
          "name": "Fuld",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Underside",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": true
                }
              ],
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "4e22e5e8-ab16-6129-348e-31fdb32f33de",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></grid>
      </contentPage>
    </contentPage>
    <contentPage id="1128" key="8627b748-357e-4e7c-9bbf-b3e8941f4dde" parentID="1066" level="2" creatorID="0" sortOrder="3" createDate="2019-07-13T22:30:32" updateDate="2019-07-16T22:31:09" nodeName="Kontakt" urlName="kontakt" path="-1,1066,1128" isDoc="" nodeType="1064" creatorName="Johan" writerName="Johan" writerID="0" template="1063" nodeTypeAlias="contentPage" isPublished="true">
      <umbracoNavihide>0</umbracoNavihide>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Fuld",
          "name": "Fuld",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Kontakt mig",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": true
                }
              ],
              "active": true,
              "hasActiveChild": true
            }
          ],
          "hasConfig": false,
          "id": "05efab55-7eaa-7dc7-3fa0-b19917b2f430",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></grid>
    </contentPage>
    <settings id="1068" key="a77f6a13-deee-4681-87a0-1627a77b5841" parentID="1066" level="2" creatorID="0" sortOrder="4" createDate="2019-06-27T15:55:15" updateDate="2019-07-16T22:11:26" nodeName="Indstillinger" urlName="indstillinger" path="-1,1066,1068" isDoc="" nodeType="1065" creatorName="Johan" writerName="Johan" writerID="0" template="0" nodeTypeAlias="settings" isPublished="true">
      <umbracoNavihide>1</umbracoNavihide>
      <logo><![CDATA[umb://media/bffa7ae0273145eea6cd89b3e2875e65]]></logo>
      <footerText><![CDATA[Små fortællinger - Privat pasningsordning - Batterivej 35, 2860 Søborg - Email: email@email.com - Tlf: +45 8877 4455]]></footerText>
    </settings>
  </frontPage>
</root>